@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#header {
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 10px gray;
  padding: 14px 14px 14px 14px;
  z-index: 1;
}

#header a {
  float: left;
  text-align:center;
  padding: 12px 3px 12px 3px;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 25px;
  text-shadow: 2px 2px pink;
  line-height: 2rem;  
}

#header a:hover {
  color:rgb(224, 24, 214);
  text-shadow: 1px 1px purple;
}

#header a#logo {
  list-style: none;
  font-size: 4rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  text-decoration: none;
  font-family: "Dancing Script";
  float: left;
  z-index: 3;
  position: relative;
  left: 1rem;
  cursor: pointer;
  margin: 0rem 0rem 0.5rem 0rem;
}

#header a#active {
  color:rgb(224, 24, 214);
  text-shadow: 1px 1px purple;
}

#header-right {
  float: right;
}





#videoBG {
  position: fixed;
  z-index: -1;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.commenting {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Dancing Script";
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.commenter {
  margin: 0.4rem 1rem 0.5rem 2rem;
  font-family: "Dancing Script";
  text-shadow: 1px 1px pink;
  color: rgb(173, 89, 221);
  font-size: 2rem;
}

.comment {
  margin: 0.6rem 2rem 0.5rem 0rem;
  font-family: "Dancing Script";
  font-size: 1.8rem;
}

#verskeret {
  background: rgba(255, 255, 255, 0.8);
  width: 270px;
  padding: 2rem 2rem;
  display: flex;
  border-radius: 20px;
  backdrop-filter: 60px;
  border: solid 3px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  position: relative;
  
  right: -35rem;
}
#versszovegkeret {
  padding: 0rem 0rem 0rem 0rem;
}
#versszoveg {
  font-family: "Poppins";
  font-size: 1rem;
}

#rolamkeret {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-size: 1.5rem;
  width: 95%;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  position: relative;
}
#zsuzsiavatar {
  width: 150px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#rolamcim {
  font-family: "Dancing Script";
  font-size: 3rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 2.5rem 0rem;
}
#bemutatkozas {
  font-family: "Poppins";
  font-size: 1.5rem;
  display:block;
}

.icons ul{
  display: flex;
  position:absolute;
  top: 4rem;
  left: 17rem;
  transform: translate(-50%,-50%);
}
.icons ul li
{
  list-style: none;
}
.icons ul li a
{
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(110, 110, 110, 0.137);
}
.icons ul li a .fa
{
  position: relative;
  color: #262626;
  transition: .5s;
}
.icons ul li a:hover .fa
{
  color: #fff;
  transform: rotateY(360deg);
}
.icons ul li a:before
{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
}
.icons ul li a:hover:before
{
  top: 0;
}
.icons ul li:nth-child(1) a:before
{
  background: #3b5999;
}
.icons ul li:nth-child(2) a:before
{
  background: #55acee;
}
.icons ul li:nth-child(3) a:before
{
  background: #e4405f;
}
.icons ul li:nth-child(4) a:before
{
  background: #0077B5;
}
.icons ul li:nth-child(5) a:before
{
  background: #bd081c;
}






.keret {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-size: 1.5rem;
  width: 95%;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.focim {
  font-family: "Dancing Script";
  font-size: 3rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 2.5rem 0rem;
}
.alcim {
  font-size: 1.7rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 1rem 0rem;
}
.ismerteto {
  margin: 0rem 2rem 0rem 0rem;
  display: block;
  font-size: 1.5rem;
}



#algologiearckezeleskep {
  width: 280px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#mrtkep {
  width: 200px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#gigibioplazmakep {
  width: 360px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#gyantazaskep {
  width: 280px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#epilfreekep {
  width: 280px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#fulbeloveskep {
  width: 280px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#szemoldokfesteskep {
  width: 280px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}




.akcio {
  font-size: 1.5rem;
}
.akcio ul {
  font-size: 1.5rem;
}


#hullammasszazskep {
  width: 300px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#ceragemmasszazskep {
  width: 300px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#balinezmasszazskep {
  width: 300px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#fotelmasszazskep {
  width: 200px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#talpmasszazskep {
  width: 200px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}




#algologiekep {
  width: 350px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#mesoticakep {
  width: 350px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#gigikep {
  width: 350px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#sabakep {
  width: 350px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}







#arakkeret {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-size: 1.5rem;
  width: 95%;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
#arakcim {
  font-family: "Dancing Script";
  font-size: 3rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 0rem 0rem;
}
#araktablazat {
  width: 100%;
}
.row {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
th, td {
  text-align: left;
  padding: 4px;
}
th {
  padding: 2rem 2rem 1rem 0rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.1);
}
td:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3);
}



#kapcsolat {
  font-size:
}
#megkozelitesterkep img {
  width: 700px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}



#blogkeret {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-size: 1.5rem;
  width: 95%;
  margin: 0rem 0rem 0rem 3rem;
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
#blogcim {
  font-family: "Dancing Script";
  font-size: 3rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 2rem 0rem;
}



#tutifogyasszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#aestheticpartnerszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#sminkszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#osziarcmaszkszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#otthoniwellnessszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#szepsegreceptektejjelszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#karosdietaszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#melegitofuszerekszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}
#tortenelemszoveg {
  margin: 0rem 0rem 0rem 0rem;
  display: none;
}


.bloggomb {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  text-shadow: 3px 3px pink;
  color: rgb(173, 89, 221);
  margin: 0rem 0rem 1rem 0rem;
  background:rgba(255, 255, 255, 0.1)
}
.bloggomb:hover {
  color:rgb(224, 24, 214);
  text-shadow: 1px 1px purple;
}


.footer {
  background: rgba(255, 255, 255, 0.2);
  font-family: "Poppins";
  font-size: 1.5rem;
  width: 95%;
  padding: 2rem 2rem 2rem 2rem;
  text-align:center;
  margin: 0rem 1rem 1rem 3rem;
  border-radius: 20px;
  backdrop-filter: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}











@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
      width: auto;
      height: 100%;
  }
}















@media (max-width: 375px) {
  #videoBG {
      display: none;
  }
  #videoBG poster {
    position: fixed;
    z-index: -1;
    }
  #header {
    overflow: hidden;
    background: white;
    box-shadow: 0px 0px 10px gray;
    padding: 0rem 2rem 1rem 2rem;
    margin: 0rem 0rem 0rem 0rem;
    z-index: 1;
    width: 100%;
    }
    
  #header a {
    float: left;
    text-align:center;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 25px;
    text-shadow: 2px 2px pink;
    line-height: 2rem;  
    }
    
  #header a:hover {
    color:rgb(224, 24, 214);
    text-shadow: 1px 1px purple;
  }
    
  #header a#logo {
    list-style: none;
    font-size: 2rem;
    text-shadow: 3px 3px pink;
    color: rgb(173, 89, 221);
    text-decoration: none;
    font-family: "Dancing Script";
    float: left;
    z-index: 3;
    position: relative;
    left: 1rem;
    cursor: pointer;
    margin: 0rem 0rem 0rem 0rem;
  }
    
  #header a#active {
    color:rgb(224, 24, 214);
    text-shadow: 1px 1px purple;
  }
    
  #header-right {
    float: right;
  }
  #header-right a {
    margin: 0.1rem 0rem 0.1rem 0rem;
    font-size: 1rem;
    height: 1.5rem;
  }

    body {
      background: url("images/lavender4.jpg") fixed center;
      background-size: cover;
      z-index: -2;
  }
  #verskeret {
    padding: 1rem 0rem 1rem 3rem;
  }
  .icons ul {
    display: flex;
    position:absolute;
    top: 4rem;
    left: 17rem;
    transform: translate(-50%,-50%);
  }
  .icons ul li a {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(110, 110, 110, 0.137);
  }


  #arakkeret {
    background: rgba(255, 255, 255, 0.8);
    font-family: "Poppins";
    font-size: 1rem;
    width: 95%;
    padding: 1rem;
    display: flex;
    border-radius: 20px;
    backdrop-filter: 10px;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    overflow:inherit
  }
  td {
    font-size: 0.8rem;
  }
  * {
    font-size: 1rem;
  }
  th {
    margin:0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
  }
  #zsuzsiavatar {
    height: 35vh;
    border-radius: 20px;
  }
  #bemutatkozas {
    font-size: 1rem;
  }
  .commenter {
    font-size: 1.5rem;
  }
  .comment {
    font-size: 1rem;
  }
  #blogkeret {
    background: rgba(255, 255, 255, 0.8);
    font-family: "Poppins";
    font-size: 1.5rem;
    width: 95%;
    margin: 0rem 0rem 0rem 0.5rem;
    border-radius: 20px;
    backdrop-filter: 10px;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
  .footer {
    background: rgba(255, 255, 255, 0.2);
    font-family: "Poppins";
    font-size: 1.5rem;
    width: 95%;
    padding: 2rem 2rem 2rem 2rem;
    text-align:center;
    margin: 0rem 1rem 1rem 0.5rem;
    border-radius: 20px;
    backdrop-filter: 10px;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
}









@media (max-width: 1300px) {
  #verskeret {
    top: 5rem;
  }
}
@media (max-width: 1000px) {
  #verskeret {
    right: 0rem;
    top: 5rem;
  }
}
@media (max-width: 750px) {
  #verskeret {
    right: 0rem;
    top: 5rem;
    }
  .keret {
    background: rgba(255, 255, 255, 0.8);
    font-family: "Poppins";
    font-size: 1rem;
    width: 95%;
    padding:1rem;
    border-radius: 20px;
    backdrop-filter: 10px;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
  .focim {
    font-family: "Dancing Script";
    font-size: 2rem;
    text-shadow: 3px 3px pink;
    color: rgb(173, 89, 221);
    margin: 0rem 0rem 2.5rem 0rem;
  }
  .alcim {
    font-size: 1.3rem;
    text-shadow: 3px 3px pink;
    color: rgb(173, 89, 221);
    margin: 0rem 0rem 1rem 0rem;
  }
  .ismerteto {
    margin: 0rem 1rem 0rem 0rem;
    display: block;
    font-size: 1rem;
  }
  .ismerteto ul {
    padding: 0rem 1rem 0rem 1rem;
    display: block;
    font-size: 1rem;
  }
  .ismerteto ul li {
    padding: 0rem 1rem 0rem 1rem;
    display: block;
    font-size: 1rem;
  }
  
  
#algologiearckezeleskep {
  width: 150px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#mrtkep {
  width: 140px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#gigibioplazmakep {
  width: 180px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#gyantazaskep {
  width: 150px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#epilfreekep {
  width: 150px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#fulbeloveskep {
  width: 130px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}
#szemoldokfesteskep {
  width: 110px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
}

  #hullammasszazskep {
  width: 130px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
    }
  #ceragemmasszazskep {
  width: 150px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
  }
  #balinezmasszazskep {
  width: 110px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
  }
  #fotelmasszazskep {
  width: 130px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
  }
  #talpmasszazskep {
  width: 130px;
  border-radius: 20px;
  float: right;
  margin: 0rem 0rem 1rem 1rem;
  }




  #algologiekep {
    width: 150px;
    border-radius: 20px;
    float: right;
    margin: 0rem 0rem 1rem 1rem;
  }
  #mesoticakep {
    width: 150px;
    border-radius: 20px;
    float: right;
    margin: 0rem 0rem 1rem 1rem;
  }
  #gigikep {
    width: 150px;
    border-radius: 20px;
    float: right;
    margin: 0rem 0rem 1rem 1rem;
  }
  #sabakep {
    width: 150px;
    border-radius: 20px;
    float: right;
    margin: 0rem 0rem 1rem 1rem;
  }


  #megkozelitesterkep img {
    width: 150px;
    border-radius: 20px;
    float: right;
    margin: 0rem 0rem 1rem 1rem;
  }

  .bloggomb {
    font-size: 1rem;
    padding: 0rem;
  }
  .blogszovegek {
  }
  .akcio {
    font-size: 1rem;
  }
  .akcio ul {
    font-size: 1rem;
    }
}